---
layout: default
---

<div class="card card-background">
  {% include header.html %}
  {% if page.title %}
  <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% if site.posts.size > 0 %}
  <h3>{{ page.list_title | default: "posts:" }}</h3>
  <ul>
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url | relative_url }}" class="index-list">
        {{ post.title | escape }}
      </a>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      {% if site.show_excerpts %}
       <table>
         <tr>
           <td class="alnleft">{{ post.excerpt }}</td>
           <td class="alnright">[{{ post.date | date: date_format }}]</td>
          </tr>
        </table>
      {% endif %}
      <br>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <h3>{{ "other:" }}</h3>
  <ul>
    <li>
      <a href="{{ "utils" | relative_url }}" class="index-list">
        {{ "Utils" | escape }}
      </a>
       <table>
         <tr>
           <td class="alnleft">{{ "Short list of some installation scripts" }}</td>
          </tr>
        </table>
      <br>
    </li>
  </ul>
</div>
